@charset "UTF-8";
body {
  margin: 40px;
  background-color: #fdf9cc;
}

h1 {
  text-align: center;
  margin: auto;
  background-color: green;
  color: #fff;
  border: 3px solid #95dbbd;
}

h3 {
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px dotted #94c8b1;
  border-left: 10px solid #d0e35b;
}

p {
  text-align: center;
  border-bottom: 1px solid white;
}
